Experiments
Linear_Regression_Results
_.py
correlation_plot.png
download (10).png
download (11).png
download (12).png
download (13).png
download (1).png
download (2).png
download (3).png
download (4).png
download (5).png
download (6).png
download (7).png
download (8).png
download (9).png
download.png
errors_models.png
gen.png
hr_bicubic.png
input.png
kn_inv_plot.png
knn_error_with_k.png
KNN_INVERSE_GEN.png
KNN_INV_IPT.png
KNN_INV_TRUTH.png
KNN_UNI_GEN.png
KNN_UNI_IPT.png
KNN_UNI_PLOT.png
KNN_UNI_TRT.png
lin_gen_test.png
lin_input_test.png
Lin_train_gen.png
Lin_train_grd_truth.png
Lin_train_input.png
lin_truth_test.png
lr_bicubic.png
matrix_test_gen.png
mat_train_gen.png
mat_train_ipt.png
mat_train_truth.png
mse_train_data.png
PSNR_TRAINING_DATA.png
res_bicubic.png
seaborn_A.png
seaborn_B.png
truth'.png
untitled10.py
untitled11.py
olivetti_linear_reg.py

